<header class="topbar d-flex justify-content-between align-items-center px-5">
  <a class="d-flex align-items-center gap-3" href="/">
    <span class="logo">Scrum AI</span>
  </a>

  <div class="d-flex align-items-center gap-3">
    <i
      *ngIf="unreadCount > 0"
      class="pi pi-bell pointer"
      (click)="notificationPanel.toggle($event)"
      pBadge
      [badgeStyle]="{ 'background-color': '#D26A5D' }"
    ></i>
    <i
      *ngIf="unreadCount === 0"
      class="pi pi-bell pointer"
      (click)="notificationPanel.toggle($event)"
    ></i>

    <p-overlayPanel #notificationPanel [dismissable]="true">
      <div class="notif-header d-flex flex-row justify-content-between align-items-center pb-1">
        <span class="title">Notificaciones</span>
        <i class="pi pi-check mark-icon" (click)="markAllAsRead()"></i>
      </div>

      <ng-container *ngIf="notifications.length === 0; else list">
        <p class="empty">No hay notificaciones</p>
      </ng-container>

      <div class="notification-panel">
        <ng-template #list styleClass="notif-item">
          <div [class.read]="n.isRead" class="notif-item d-flex" *ngFor="let n of notifications">
            <span>{{ n.message }}</span>
            <small>{{ n.createdAt | date:'MMM d, HH:mm' }}</small>
          </div>
        </ng-template>
      </div>
    </p-overlayPanel>

    <p-avatar
      icon="pi pi-user"
      [style]="{ 'background-color': '#EBE4DA' }"
      shape="circle"
      (click)="menu.toggle($event)"
    />
    <p-menu #menu [model]="items" [popup]="true" styleClass="my-user-menu" />
  </div>
</header>
