:host {
  position: relative;
  z-index: 1;
  display: block;
  overflow: visible;
}

.container, .card {
  position: relative;
  z-index: 2;
  overflow: visible;
}

.sf-steps,
.sf-step {
  position: relative;
  z-index: 3;
  pointer-events: auto !important;
}

.card {
  border: none;
  border-radius: 10px;
}

.sf-step {
  pointer-events: auto !important;
  position: relative;
  z-index: 999999;
}
