<div class="container my-4">
  <div class="card p-4 shadow-sm">

    <app-session-finished-view
      [scoreFinal]="scoreFinal"
      [participantes]="participantes"
      [userName]="userName"
      [userRole]="userRole"
      [ceremonyName]="ceremonyName"
      [dificultad]="dificultad"
      [durationFinal]="durationFinal">
    </app-session-finished-view>

    <div class="d-flex justify-content-end mt-4">
      <button class="primary-btn px-4" (click)="nextStep()">
        Siguiente
      </button>
    </div>

  </div>
</div>
