<div class="page-wrapper">
  <div class="bg-light login-container">
    <div class="container d-flex align-items-center justify-content-center h-100">
      <div class="login-card shadow-sm rounded">

        <div class="logo-container text-center">
          <a class="logo" routerLink="/">
            <img width="200" class="img-fluid" src="assets/img/logo/cenfocode-logo.png" alt="Logo" />
          </a>
        </div>

        <form (ngSubmit)="handleForgotPassword(frm)" autocomplete="off" #frm="ngForm" novalidate>
          <div class="header-section text-center">
            <h1>Olvidé mi contraseña</h1>
            <p>Ingresa tu email para cambiar tu contraseña</p>
          </div>

          <div class="form-area">
            <mat-form-field appearance="outline" class="full-width" hideRequiredMarker="true">
              <mat-label>Email</mat-label>
              <input
                matInput
                #email="ngModel"
                id="email"
                name="email"
                type="email"
                [(ngModel)]="forgotPasswordForm.email"
                required
                email
                aria-describedby="email-error"
              />
              <mat-error id="email-error" *ngIf="email.invalid && email.touched">
                Por favor ingresa un email válido
              </mat-error>
            </mat-form-field>
          </div>


          <div *ngIf="forgotPasswordError" class="alert" role="alert" aria-live="assertive">
            {{ forgotPasswordError }}
          </div>

          <div *ngIf="forgotPasswordSuccess" class="alert success" role="alert" aria-live="polite">
            Si el correo electrónico existe en nuestro sistema, se han enviado las instrucciones para restablecer la contraseña.
          </div>

          <div class="button-row mb-3">
            <button class="btn btn-outline-secondary" type="button" routerLink="/login">Cancelar</button>
            <button class="btn primary-btn" type="submit" [disabled]="isLoading || frm.invalid">
              {{ isLoading ? 'Enviando...' : 'Enviar' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>