body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #1C3B44;
}

form {
  width: 100%;
  color: #1C3B44;
} 

.logo-img {
  object-fit: contain; 
  width: 150%; 
  height: 150%; 
  margin-left: -35px; 
  margin-top: -15px;
}

.example-container mat-form-field {
  width: 100%;
  color: #1C3B44;
  font-size: 12px;
}

.example-container input {
  color: #1C3B44;
}

:host::ng-deep .mat-mdc-form-field {
  display: block;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  color: #1C3B44;
  margin-bottom: 8px;
}

h2 {
  font-size: 18px;
  color: #1C3B44;
  font-weight: 600;
}

p {
  font-size: 14px;
  color: #1C3B44;
}

.profile-section-title,
h2,
p.section-title {
  color: #1C3B44 !important;
}

input {
  border-radius: 8px;
  border: 1px solid #1C3B44;
  padding: 10px;
  font-size: 16px;
}

input.placeholder {
  color: #1C3B44;
}

.btn-register {
  background-color: #9c9a40;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
}

.btn-register:hover {
  background-color: #8a8835;
  color: white;
}

.btn-register:disabled {
  background-color: #d3d3d3;
  color: #888;
  cursor: not-allowed;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}

.badge-placeholder {
  opacity: 0.3;
}

.badges-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 700px;
}

.badge-item {
  width: 100%;
  aspect-ratio: 1;
  background-color: #d3d3d3;
  border-radius: 8px;
  opacity: 0.3;
}

.text-success {
  color: #28a745;
  font-weight: 500;
}

.text-danger {
  color: #dc3545;
  font-weight: 500;
}

/* Estilos para mat-form-field */
:host ::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: rgba(28, 59, 68, 0.1) !important;
}

:host ::ng-deep .mdc-notched-outline__leading,
:host ::ng-deep .mdc-notched-outline__trailing,
:host ::ng-deep .mdc-notched-outline__notch {
  border-color: #1C3B44 !important;
}

/* Label */
:host ::ng-deep .mdc-floating-label,
:host ::ng-deep .mdc-floating-label--float-above {
  color: #1C3B44 !important;
}

/* Hover */
:host ::ng-deep .mat-mdc-form-field:hover .mdc-notched-outline__leading,
:host ::ng-deep .mat-mdc-form-field:hover .mdc-notched-outline__trailing,
:host ::ng-deep .mat-mdc-form-field:hover .mdc-notched-outline__notch {
  border-color: #1C3B44 !important;
}

/* Focus */
:host ::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
:host ::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing,
:host ::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__notch {
  border-color: #1C3B44 !important;
}

/* Input text */
:host ::ng-deep input.mdc-text-field__input {
  color: #1C3B44 !important;
}

/* Quitar padding extra */
:host ::ng-deep .container,
:host ::ng-deep [class*="container"] {
  padding: 0 !important;
}

