.btn-custom {
  background-color: #A4A33A;
  border-color: #A4A33A;
  color: white;
  
  &:hover {
    color: #EBE4DA;
        background-color: #A4A33A;
        border-color: #A4A33A;
        box-shadow: 0 12px 16px rgba(134, 134, 86, 0.904);
  }
}

.containerButton{
    display: flex;
    justify-content: flex-end;
}

.card{
    border: 1px solid #eee;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    &:hover{
        color: #EBE4DA;
        background-color: #A4A33A;
        border-color: #A4A33A;
        box-shadow: 0 12px 16px rgba(134, 134, 86, 0.904);
    }
}

