<body class="bg-light">

<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="card shadow-sm border-0" style="width: 100%; max-width: 500px;">
      <div class="card-body p-4 p-md-5">
          <div class="mx-auto mb-4 bg-secondary-subtle rounded" style="width: 120px; height: 80px;">
            <a href="/landingpage" rel="noopener noreferrer">
            <img src="../../../../assets/img/logo/cenfocode-logo.png" alt="Cenfocode" class="logo-img">
            </a>
          </div>
              <h1 class="text-center">Registro de usuario</h1>
              <p class="text-center">Ingresa tus datos para crear una nueva cuenta</p>
          <form (ngSubmit)="handleSignup($event)" autocomplete="off" #frm="ngForm" >
              <div class="example-container">
                <mat-form-field appearance="outline" hideRequiredMarker="true" [color]="'primary'" [style.margin.px]="0">
                  <mat-label>Nombre</mat-label>
                  <input matInput #name="ngModel" type="text" class="form-control" id="name" name="name"
                  [(ngModel)]="user.name" [ngClass]="{
                  'is-invalid': name.invalid && name.touched,
                  'is-valid': name.valid && name.touched
                  }" required />
                    
                  <div *ngIf="name.invalid" class="invalid-feedback">
                  Porfavor agrega un nombre válido
                  </div>
                </mat-form-field>
              </div>
                
              <div class="example-container">
                <mat-form-field appearance="outline" hideRequiredMarker="true" [color]="'primary'">
                  <mat-label>Apellidos</mat-label>  
                  <input matInput #lastname="ngModel" type="text" class="form-control" id="lastname" name="lastname"
                  [(ngModel)]="user.lastname" [ngClass]="{
                  'is-invalid': lastname.invalid && lastname.touched,
                  'is-valid': lastname.valid && lastname.touched
                  }" required >
                  <div *ngIf="lastname.invalid" class="invalid-feedback">
                  Porfavor agrega un apellido válido
                  </div>
                </mat-form-field>
              </div>

              <div class="example-container">
                <mat-form-field appearance="outline" hideRequiredMarker="true" [color]="'primary'">
                  <mat-label>Email</mat-label>  
                  <input matInput #email="ngModel" type="email" class="form-control" id="email" name="email"
                  [(ngModel)]="user.email" [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                  }" required >
                  <div *ngIf="email.invalid" class="invalid-feedback">
                  Porfavor agrega un email válido
                  </div>
                </mat-form-field>
              </div>

              <div class="row g-2 mb-3 pt-15 pb-7 ">
                <div class="example-container col-md-6 pt-15 pb-7">
                  <mat-form-field appearance="outline" hideRequiredMarker="true" [color]="'primary'">
                  <mat-label>Contraseña </mat-label>
                  <input matInput #password="ngModel" type="password" class="form-control" id="password" name="password"
                  [(ngModel)]="user.password" [ngClass]="{
                  'is-invalid': password.errors && password.touched,
                  'is-valid': password.valid && password.touched,}" required 
                  pattern="^(?=.*[A-Z])(?=.*\d).{8,}$">       
                  <div *ngIf="password.errors?.['required']" class="invalid-feedback">
                    La contraseña es obligatoria
                  </div>
                  <div *ngIf="password.errors?.['pattern']" class="invalid-feedback">
                    Debe tener al menos 8 caracteres, una mayúscula y un número.
                  </div>    
                  </mat-form-field>
                  </div>
                <div class="example-container col-md-6 pt-15 pb-7">
                  <mat-form-field appearance="outline" hideRequiredMarker="true" [color]="'primary'">
                  <mat-label>Confirmar contraseña</mat-label>
                  <input matInput #confirmPassword="ngModel" type="password" class="form-control" id="comfirmPassword" name="confirmPassword"
                  [(ngModel)]="user.confirmPassword" [ngClass]="{
                  'is-valid': confirmPassword.touched && user.password === user.confirmPassword,
                  'is-invalid': confirmPassword.touched && user.password !== user.confirmPassword,
                  }" required>
                  
                  <div class="invalid-feedback" *ngIf="confirmPassword.touched && user.password !== user.confirmPassword">
                    Las contrase`ñas no coinciden.
                  </div>
                  </mat-form-field>
                </div>
              </div>

              <div class="d-flex align-items-center justify-content-center flex-column">

                <button type="submit" class="btn btn-register btn-lg px-4 pt-15 pb-7 mb-3" [disabled]="frm.invalid || user.password !== user.confirmPassword">Registrarse</button>
                @if(signUpError) {<p class="text-danger">{{signUpError}}</p>} @else if (validSignup){<p class="text-success">Usuario Registrado con exito</p>}
              </div>
              <div class="text-center">
                <p>
                ¿Tienes una cuenta registrada? 
                <a href="/login" class="login-link">Inicio de sesión</a>
              </p>
              </div>
          </form>
      </div>
  </div>
</div>
