body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #1C3B44;
}

form {
    width: 100%;
    color: #1C3B44;
} 

.logo-img {
    object-fit: contain; 
    width: 150%; 
    height: 150%; 
    margin-left: -35px; 
    margin-top: -15px;
}

.example-container mat-form-field {
    width: 100%;
    color: #1C3B44;
    font-size: 12px;
}

.example-container input {
    color: #1C3B44;
    
}

:host::ng-deep .mat-mdc-form-field {
    display: block;
}

.title {
    font-weight: 600;
    font-size: 40px;
    color: #1C3B44;
    padding: 15px;
}
.paragraph {
    font-size: 16px;
    color: #1C3B44;
    margin-bottom: 20px;
}
input {
    border-radius: 8px;
    border: 1px solid #1C3B44;
    padding: 10px;
    font-size: 16px;
}
input.placeholder {
    color: #1C3B44;
}

.btn-register {
    background-color: #9c9a40;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    
}
.btn-register:hover {
    background-color: #8a8835;
    color: white;
}
.login-link {
    color: #d9534f;
    text-decoration: none;
    font-weight: 500;
}
.login-link:hover {
    color: #c9302c;
    text-decoration: none;
}
