.btn-custom {
  background-color: #A4A33A;
  border-color: #A4A33A;
  color: white;
  
  &:hover {
    color: #EBE4DA;
      background-color: #A4A33A;
      border-color: #A4A33A;
      box-shadow: 0 12px 16px rgba(134, 134, 86, 0.904);
  }
}

.containerButton{
  display: flex;
  justify-content: flex-end;
}

.card{
  border: 1px solid #eee;
  background-color: #EBE4DA;
  &:hover{
    color: #EBE4DA;
    background-color: #A4A33A;
    border-color: #A4A33A;
  }


  &.selected {
    color: #EBE4DA;
    background-color: #A4A33A;
    border-color: #A4A33A;
  }
}
