body {
  background-color: #f8f9fa;
}

a {
  color: #1C3B44;
  font-size: 13px;
}

.card {
  border: none;
  border-radius: 10px;
}
::ng-deep .p-breadcrumb {
  border: transparent;
  padding: 0%;
}
::ng-deep .p-breadcrumb-list{
  padding-left: 0px;
}

::ng-deep .p-menuitem-link {
  color: #1C3B44;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
body {
  background-color: #f9f9f9;
}

.kanban-board {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  padding-bottom: 1rem;
}


.kanban-column {
  background-color: #EBE4DA;
  border-radius: 8px;
  padding: 1rem;
  flex: 1;
  min-width: 250px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.kanban-column h6 {
  margin-bottom: 1rem;
  font-weight: 600;
}


.kanban-item {
  background-color: white;
  border-radius: 6px;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.kanban-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.cdk-drag-preview {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.cdk-drag-placeholder {
  opacity: 0;
}