<div class="bg-light login-container">
    <div class="container d-flex align-items-center justify-content-center h-100">
        <div class="login-card shadow-sm rounded">
            <div class="text-center">
                <a class="logo text-center" routerLink="/">
                    <img
                        width="180"
                        class="img-fluid mb-4"
                        src="assets/img/logo/cenfocode-logo.png"
                        alt="Logo"
                    />
                </a>
            </div>

            <div>
                <form (ngSubmit)="handleLogin($event)" autocomplete="off" #frm="ngForm">
                    <div class="mb-3 text-center">
                        <h1>Inicio de sesión</h1>
                        <p>Ingresa tus datos para acceder a su cuenta</p>
                    </div>

                    <div class="w-full">
                        <p-divider layout="horizontal" align="center">
                            <b>O</b>
                        </p-divider>
                    </div>

                    <div class="d-flex flex-column form-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input
                                matInput
                                #email="ngModel"
                                type="text"
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="example@outlook.com"
                                [(ngModel)]="loginForm.email"
                                (ngModelChange)="clearError()"
                            />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input
                                matInput
                                #password="ngModel"
                                [type]="hide() ? 'password' : 'text'"
                                class="form-control"
                                id="password"
                                name="password"
                                [(ngModel)]="loginForm.password"
                                (ngModelChange)="clearError()"
                            />
                            <button
                                    mat-icon-button
                                    matSuffix
                                    (click)="clickEvent($event)"
                                    [attr.aria-label]="'Mostrar u ocultar contraseña'"
                                    [attr.aria-pressed]="hide()"
                                    type="button"
                            >
                                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <small class="text-end forgot-password">
                            <a class="app-link" href="/">¿Olvidaste a contraseña?</a>
                        </small>
                    </div>

                    <div class="text-center">
                        <button class="primary-btn mb-3" type="submit">
                            Ingresar
                        </button>
                        @if (loginError) {
                            <p class="text-danger">{{ loginError }}</p>
                        }
                        <p>¿No está registrado?<a class="app-link" href="/signup"> Crear cuenta</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>