.login-container {
  height: 100vh;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .login-card {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 500px;
    padding: 60px;
    margin: 0 auto;
    background-color: #fff;
  }

  .form-container mat-form-field {
    font-size: 12px;
  }

  .forgot-password{
    padding-bottom: 20px;
    padding-top: -10px;
  }
// Added styles for Google Sign-In button
  .g_id_signin{
    display: flex;
    justify-content: center;
    &:hover {
      border-color: black;
    }
  }
}

/* Login inputs */

:host ::ng-deep .login-container .mat-mdc-form-field {
  --mdc-outlined-text-field-outline-color: #1C3B44;
  --mdc-outlined-text-field-hover-outline-color: #1C3B44;
  --mdc-outlined-text-field-focus-outline-color: #1C3B44;
  --mdc-outlined-text-field-input-text-color: #1C3B44;
  --mdc-outlined-text-field-label-text-color: #1C3B44;
}

/* Label */
:host ::ng-deep .login-container .mdc-floating-label,
:host ::ng-deep .login-container .mdc-floating-label--float-above {
  color: #1C3B44 !important;
}

/* Texto y placeholder */
:host ::ng-deep .login-container .mat-mdc-input-element {
  color: #1C3B44 !important;
}

:host ::ng-deep .login-container .mat-mdc-input-element::placeholder {
  color: #1C3B44 !important;
  opacity: 0.8;
}

/* Icono del ojo */
:host ::ng-deep .login-container .mat-mdc-form-field-icon-suffix .mat-icon {
  color: #1C3B44 !important;
}
