.login-container {
  height: 100vh;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .login-card {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 500px;
    padding: 60px;
    margin: 0 auto;
    background-color: #fff;
  }

  .form-container mat-form-field {
    font-size: 12px;
  }

  .forgot-password{
    padding-bottom: 20px;
    padding-top: -10px;
  }
// Added styles for Google Sign-In button
  .g_id_signin{
    display: flex;
    justify-content: center;
    &:hover {
      border-color: black;
    }
  }
}