:root {
  --theme-default: #7366ff;
  --theme-secondary: #f73164;
  --light-background: rgba(242, 243, 247, 0.7);
  --body-font-color: #2f2f3b;
  --chart-border: #ecf3fa;
  --recent-chart-bg: #fcfcfd;
  --light-bg: #f6f7f9;
  --white: #fff;
  --light2: #f5f6f9;
  --sidebar-border: rgba(0, 0, 0, 0.1);
  --chart-text-color: rgba(82, 82, 108, 0.8);
  --recent-dashed-border: rgba(82, 82, 108, 0.3);
  --chart-dashed-border: rgba(82, 82, 108, 0.2);
  --chart-progress-light: rgba(82, 82, 108, 0.1);
  --recent-box-bg: #f2f4f7;
  --recent-border: rgba(97, 101, 122, 0.25);
  --course-light-btn: #f2f3f7;
  --course-bg: #f7f7f7;
  --balance-profie-bg: #e0dfef;
  --view-grid-bg: #ecf3fa80;
  --view-border-marker: #cfcdfc;

  --fc-button-bg-color: var(--theme-default);
  --fc-button-active-bg-color: var(--theme-default);
  --fc-button-active-border-color: var(--theme-default);
  --fc-button-border-color: var(--theme-default);
  --fc-button-hover-bg-color: var(--theme-default);
  --fc-button-hover-border-color: var(--theme-default);
}

body[class="dark-only"] {
  --light-background: rgba(31, 32, 40, 0.65);
  --recent-chart-bg: #262932;
  --light-bg: #1d1e26;
  --white: #262932;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --light2: #1d1e26;
  --chart-border: #374558;
  --recent-box-bg: #1d1e26;
  --recent-border: #374558;
  --body-font-color: rgba(255, 255, 255, 0.6);
  --course-light-btn: var(--light-bg);
  --view-grid-bg: var(--light-bg);
  --view-border-marker: #2c2c45d4;
}

// scss variables
@import "./assets/utils/variables";
//start template styles
@import "./assets/layout/layout.scss";
//end template styles
.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .sidebar-links {
  height: calc(93vh - 115px) !important;
  left: -300px;
  z-index: 99;
  transition: color 1s ease;
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

#title {
  font-size: 40px;
  font-weight: 600;
}

#subtitle {
  font-size: 24px;
}

#paragraph {
  font-size: 16px;
}

#title-mobile {
  font-size: 24px;
  font-weight: 600;
}

#subtitle-mobile {
  font-size: 18px;
}

#paragraph-mobile {
  font-size: 12px;
}

.app-link {
  color: #d9534f;
  text-decoration: none;
  font-weight: 500;
}

.app-link:hover {
  color: #c9302c;
  text-decoration: none;
}

.primary-btn {
  background-color: #9c9a40;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: .3rem;
}

.primary-btn:hover {
  background-color: #8a8835;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #1C3B44;
}

@media (max-width: 768px) {

  h1 {
    font-size: 24px;
    font-weight: 600;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
}