<div>
  <h1></h1>

  <div class="mt-2">
    <p class="invite-label">Invita a tu equipo</p>
    <div class="d-flex">
      <button class="primary-btn me-3" (click)="sendInviteToCall()">Invitar</button>
      <button class="btn btn-outline-secondary" (click)="joinToCall()">Unirse</button>
    </div>
  </div>
 <app-chatbot 
    #dashboardChatbot
    [aiTemplate]="aiTemplate"/>

  <!-- ✅ Floating video emite análisis al dashboard -->
  <app-call 
    (aiAnalysisReady)="onAIAnalysis($event)">
  </app-call>
</div>