<div class="container my-4">
  <div class="card p-4 shadow-sm">
    <div>
      <div class="room-info" *ngIf="currentRoomId != ''">
        <p class="label">Id de sala</p>
        <div class="d-flex value-row">
          <p class="value">{{ currentRoomId }}</p>
          <button class="copy-btn" (click)="copyRoomId()">
            <i class="fa-regular fa-copy"></i>
          </button>
        </div>
      </div>
      <h2>Ceremonia grupal</h2>
      <p class="invite-label">Invita a tu equipo</p>
      <div class="d-flex">
        <button class="primary-btn me-3" (click)="sendInviteToCall()">Invitar</button>
        <button class="btn btn-outline-secondary" (click)="joinToCall()" [disabled]="isCreator">Unirse</button>
      </div>
    </div>
  </div>

  <app-chatbot [aiTemplate]="aiTemplate"/>
</div>