a {
  color: #1C3B44;
  font-size: 13px;
}

.card {
  border: none;
  border-radius: 10px;
}

::ng-deep .p-breadcrumb {
  border: transparent;
  padding: 0;
}

::ng-deep .p-breadcrumb-list {
  padding-left: 0;
}

::ng-deep .p-menuitem-link {
  color: #1C3B44;
}

.primary-btn.btn-success {
  background-color: #9c9a40 !important;
  border-color: #9c9a40 !important;
  color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}

.primary-btn.btn-success:hover {
  background-color: #8a8835 !important;
  border-color: #8a8835 !important;
  color: #fff !important;
}

.primary-btn.btn-success:focus,
.primary-btn.btn-success:active,
.primary-btn.btn-success:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: #9c9a40 !important;
}

.primary-btn.btn-success:focus:not(:focus-visible) {
  box-shadow: none !important;
}